*,
*::before,
*::after {
  box-sizing: border-box;
}

:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

/* Global settings */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
}
.container {
  width: 1158px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 76px;
}
.logo-dark {
  color: #2e2f42;
}

/* global bulleted list */

ul,
h1,
h2,
h3,
p {
  margin: 0;
}

p {
  margin-top: 8px;
}

ul,
menu {
  list-style-type: none;
}

ul {
  padding-left: 0;
}
.menu-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

/* navigation links */

.link {
  font-weight: 500;
  color: #404bbf;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
:active,
:focus {
  color: #404bbf;
}

/* address links */

.address .a-link {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  font-style: normal;
  display: flex;
  padding: 32px 0;
}
.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 24px 0;
}

.a-link:hover {
  color: #404bbf;
}

.a-link:focus {
  color: #404bbf;
}

.a-link:active {
  color: #404bbf;
}

/* hero image */

.hero {
  background: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  max-width: 1440px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}

/* button */

.main-button {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:active,
.main-button:focus {
  background-color: #404bbf;
}

/* Features */

.features {
  padding: 120px 0;
  display: flex;
}
.features-list {
  display: flex;
  gap: 24px;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-card {
  width: calc((100% - 72px) / 4);
}
.benefits-icons {
  background-color: #f4f4fd;
  width: 100%;
  min-height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  width: calc(100% - 72px) / 4;
  margin-bottom: 8px;
}
.article {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

/* Our Team */

.team-icons-container {
  display: flex;
  justify-content: space-around;
}
.team-icons {
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.team-card {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card-text {
  padding: 32px 0;
}
.team-card .section-subtitle {
  text-align: center;
  margin-bottom: 8px;
}

.team-card .article {
  text-align: center;
  margin-bottom: 8px;
}
.section-our-team {
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;
  padding: 120px 0;
}
.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* Our Portfolio */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  width: calc(100% - 48px) / 3;
}

portfolio-card:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-card-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio .article {
  margin-bottom: 8px;
}

/* footer */

.footer {
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}

.footer .footer-article {
  max-width: 264px;
}
.logo-white {
  color: #f4f4fd;
}

.footer-article {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
