/* ZEROWANIE */

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-inline: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* KONIEC ZEROWANIA */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

.container {
  width: 1158px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  flex-direction: row;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 76px;
}
.logo-dark {
  color: #2e2f42;
}

.menu-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

/* navigation links */

.link {
  font-weight: 500;
  color: #2e2f42;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.link:hover,
.link:active,
.link:focus {
  color: #404bbf;
}

/* address links */

.a-link {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}

.address {
  font-style: normal;
  display: flex;
}

.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 24px 0;
}

.a-link:hover,
.a-link:focus,
.a-link:active {
  color: #404bbf;
}

/* hero image */

.hero {
  background: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleoffice.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero .container {
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}

/* button */

.main-button {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
}

.main-button:hover,
.main-button:active,
.main-button:focus {
  background-color: #404bbf;
}

/* Features */

.features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-card {
  width: calc((100% - 72px) / 4);
}

.feature-icons {
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.article {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Our Team */

.team-card {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
}

.team-card-text {
  padding: 32px 16px;
  text-align: center;
}

.team-card .article {
  margin-bottom: 8px;
}

.team-icons-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.team-icons-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-icons-list {
  display: flex;
  gap: 24px;
}

.section-our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* Our Portfolio */
.portfolio {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  width: calc(100% - 48px) / 3;
}

.portfolio-card-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  display: block;
}

.logo-white {
  color: #f4f4fd;
}

.footer-article {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
